.header {
    height: 90vh;
    background-image: url(../img/shutterstock_326070713@2x.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    
    &__logo {
        margin:3rem 0;
        height: 5rem;
        width: auto;     
    }

    &__text-box {
        position: absolute;
        /* in relation to parent */
        top: 43rem;
        
    }

    &__phone {
        position: absolute;
        /* in relation to parent */
        bottom: 0;
        right: 10rem;
        height: 70%;
        width: auto;
    }
}

.nav {
    margin:4rem 0;
    width: auto;
}

.section-work {
    background-color: var(--color-grey-light);
    padding: 10rem 0 50rem 0;
   
}



.flow-box__center {
    display: inline-block;
}


.section-price {
    background-color: var(--color-primary);
    padding: 10rem 0 50rem 0;
    
  
}

.section-map {
    background-color: var(--color-grey-light); 
  
}

.footer {
    background-color: var(--color-primary);
    padding: 1.5rem 0;
    position: relative;  
   
}

